[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pip = "==9.0.3"
cython = "*"
pytz = "*"
pyopenssl = "*"
"jinja2" = "*"
cryptography = "*"
ndg-httpsclient = "*"
"psycopg2-binary" = "*"
"pyasn1" = "*"
flask-oauthlib = "==0.9.4"
apache-airflow = {extras = ["postgres", "crypto", "gcp-api", "celery", "async", "password", "slack"], version = "==1.8.2"}

[requires]
python_version = "2.7"
