[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
pytz = "*"
pyopenssl = "*"
"jinja2" = "*"
cryptography = "*"
ndg-httpsclient = "*"
"psycopg2-binary" = "*"
"pyasn1" = "*"
flask-oauthlib = "==0.9.4"
mysqlclient = "*"
redis = "*"
apache-airflow = {extras = ["password", "celery", "postgres", "crypto", "slack", "async", "gcp-api", "redis"], version = "==1.8.2"}

[dev-packages]

[requires]
python_version = "3.6"
